extends layout

block content
	.header
		div.flex
			div.logo 
			a(href="/")
				span 失眠宇宙's Blog
		div#menubtn.menubtn
			i.u-icon-menu
	.container
		div#tags.tagList
			ul.tags
				li
					a.tag(href='/') 全部
				for tag in tags
					li
						a.tag(href='/?tag='+tag.tag) #{tag.category}
		.blogList
			for blog,key in index
				div.blogArea
					div.blog
						div.thumbnail 
							a(href="/blog/"+key)
								if blog.imageUrl
									div.poster(style=`background-image:url(${blog.imageUrl})`)
								else
									span #{blog.title}
						div.info
							a(href="/blog/"+key)
								h4.title #{blog.title}
							a.tag(href='/?tag='+blog.tag) #{blog.category}
							span.infotime.pull-right #{blog.time}

   
